<div class="messages-wrapper">
  <%= image_tag message.user.avatar.url(:medium), id:"message-avatar" %>
  <h5><strong><%= message.user.username %></strong></h5>
  <h6><em><%= message.created_at.strftime("%b %e %l:%M %P") %></em></h6>
  <p><%= message.body %></p>
</div>