<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <figure id="news-wordmark-figure">
        <%= image_tag "wordmark-1000.png", class:"img-responsive", id:"wordmark-news" %>
        <figcaption id="news-wordmark-caption" class="text-center">News From Around The Web</figcaption>
      </figure>
      <div class="entries-wrapper">
        <% @entries.each do |entry| %>
        <h4 id="article-link-header"><%= link_to "#{strip_tags(entry.title.sanitize!)}", "#{entry.url}", target: :_blank, id:"article-title-link" %></h4>
        <p id="article-published">Published <%= time_ago_in_words(entry.published) %> ago.</p>
        <p id="article-description"><%= strip_tags(entry.content.sanitize!) %></p>
        <hr>
        <%  end %>
      </div>
    </div>
  </div>
</div>
