// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
Palette
Red: #C1404C
Blue: #324C7E
Off-White: #F5F3F4
Midnight Navy: #3D4A58
*/

#wordmark-news {
  width: 34%;
  margin: 15px auto 0;
}

#news-wordmark-caption {
  color: #C1404C;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Ultra', serif;
  letter-spacing: 1px;
}

#news-wordmark-figure {
  margin-bottom: 60px;
}

#article-title-link {
  color: #C1404C;
  font-weight: 700;
}

#article-link-header {
  margin-bottom: 0;
}

#article-published {
  color: #324C7E;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

#article-description {
  color: #131516;
  font-size: 15px;
}

.entries-wrapper {
  width: 90%;
  margin: 0 auto;
}

.day-strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 40px 0;
}

.day-strike > span {
  position: relative;
  display: inline-block;
  color: #324C7E;
  text-transform: uppercase;
}

.day-strike > span:before,
.day-strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #324C7E;
}

.day-strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.day-strike > span:after {
  left: 100%;
  margin-left: 15px;
}

.pagination-wrapper {
  text-align: center;
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #DFDFDF;
    border: 1px solid #DFDFDF; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #324C7E;
    color: white;
    border: 1px solid #324C7E; }
  .digg_pagination a {
    text-decoration: none;
    color: #324C7E;
    border: 1px solid #324C7E; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }